/* Background Image Variables */
/* Background Image classes */
.ast {
  background-image: url("./assets/astera.jpeg");
}

.af {
  background-image: url("./assets/ancient-forest.png");
}

.ww {
  background-image: url("./assets/wildspire-waste.png");
}

.ch {
  background-image: url("./assets/coral-highlands.png");
}

.rv {
  background-image: url("./assets/rotten-vale.png");
}

.er {
  background-image: url("./assets/elder-recess.png");
}

.hr {
  background-image: url("./assets/hoarfrost-reach.jpg");
}

.coed {
  background-image: url("./assets/caverns-of-el-dorado.jpg");
}

.cof {
  background-image: url("./assets/confluence-of-fates.jpeg");
}

.gr {
  background-image: url("./assets/great-ravine.jpg");
}

.gl {
  background-image: url("./assets/guiding-lands.jpg");
}

.sv {
  background-image: url("./assets/secluded-valley.jpg");
}

header {
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 50vw;
  margin: auto;
  padding: 20px 10px;
  margin-left: 25vw;
  border-radius: 5px;
}
header .title-text {
  margin: 0;
}

@media screen and (max-width: 500px) {
  header {
    width: 100vw;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 0;
  }
}
body {
  background-position: 45%;
  background-size: cover;
  image-rendering: optimizeSpeed;
}

@media screen and (min-height: 980px) {
  body {
    margin: 10vh auto 25vh;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }
}
.hide {
  visibility: hidden;
}

.main-header {
  font-family: "Instrument Serif", "Times New Roman", Times, serif;
  font-size: 3em;
}

.sub-header {
  font-family: "Instrument Serif", "Times New Roman", Times, serif;
  font-size: 2.5em;
}

.description-header {
  font-family: "DM Serif Display", sans-serif;
}

p,
ul {
  font-family: sans-serif;
  font-size: 1.25em;
}

.main_area {
  background-color: bisque;
  background-color: rgba(235, 210, 194, 0.8);
  border: 2px solid black;
  border-radius: 5px;
  margin: 50px;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .main_area {
    width: 100vw;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }
}
.panels {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .panels {
    flex-direction: column;
    align-items: center;
  }
}
.left-panel,
.right-panel {
  margin: 1.5em;
  padding: 2em;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .left-panel,
  .right-panel {
    width: 80%;
  }
}
span,
p,
.search-title {
  margin: 0 auto 0.7em;
}

.search-title {
  font-family: "DM Serif Display", sans-serif;
  font-size: 2em;
}

#monster-search {
  width: 200px;
}

#autocomplete-options {
  background-color: white;
  width: 200px;
  position: absolute;
}
#autocomplete-options p {
  margin: 0;
  border-top: 1px solid black;
  font-size: 1em;
  font-family: "DM Serif Display", sans-serif;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#autocomplete-options p:hover {
  cursor: pointer;
}

#loading {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 5px solid #5a5a5a;
  border-top: 6px solid #70f552;
  border-radius: 100%;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#monster-image {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  width: 250px;
  height: 250px;
  background-color: burlywood;
  background-color: rgb(180, 158, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}
#monster-image img {
  image-rendering: optimizeSpeed;
  width: 90%;
  height: auto;
  margin: 10px;
}

.right-panel {
  min-height: 150px;
}
.right-panel span {
  font-family: "DM Serif Display", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

@media screen and (min-width: 900px) {
  .right-panel {
    width: 80vw;
  }
}
#info-tabs {
  font-family: "Instrument Serif", "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
}
#info-tabs div {
  margin: 0 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}
#info-tabs div:hover {
  cursor: pointer;
}

.info-cards .card {
  height: 50%;
  overflow: scroll;
  position: absolute;
  min-height: -moz-max-content;
  min-height: max-content;
}
.info-cards p {
  margin-right: 120px;
}

@media screen and (max-width: 900px) {
  .info-cards .card {
    position: static;
  }
  .info-cards p {
    margin: 0;
  }
}
.spacing {
  margin-bottom: 15px;
}

#card_weakness {
  display: flex;
  justify-content: space-evenly;
}
#card_weakness span {
  margin: auto 10px;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid black;
}

footer {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  text-align: center;
  margin: 20px auto 30px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */