* {
	margin: 0;
}

$ast: './assets/astera.jpeg';
$af: './assets/ancient-forest.png';
$ww: './assets/wildspire-waste.png';
$ch: './assets/coral-highlands.png';
$rv: './assets/rotten-vale.png';
$er: './assets/elder-recess.png';

$dark-bg: rgba(0, 0, 0, 0.6);
$white-bg: rgba(255, 255, 255, 0.6);

@mixin title-bg($image, $text-color, $bg-color) {
	background-image: url($image);
	header {
		color: $text-color;
		background-color: $bg-color;
	}
}

.ast {
	@include title-bg($ast, black, $white-bg);
}
.af {
	@include title-bg($af, white, $dark-bg);
}
.ww {
	@include title-bg($ww, white, $dark-bg);
}
.ch {
	@include title-bg($ch, white, $dark-bg);
}
.rv {
	@include title-bg($rv, white, $dark-bg);
}
.er {
	@include title-bg($er, white, $dark-bg);
}

header {
	text-align: center;
	width: 40%;
	margin-top: 20px;
	margin-left: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
	text-align: center;
}

body {
	background-size: cover;
}

.main-header {
	font-family: 'Instrument Serif', 'Times New Roman', Times, serif;
	font-size: 3em;
}
.sub-header {
	font-family: 'Instrument Serif', 'Times New Roman', Times, serif;
	font-size: 2.5em;
}

.description-header {
	font-family: 'DM Serif Display', sans-serif;
}

p {
	font-family: sans-serif;
	font-size: 1.25em;
}

hr {
	margin-top: 1em;
	border: 1px solid black;
}

.main_area {
	background-color: rgba(235, 210, 194, 0.8);
	border: 2px solid black;
	height: 70vh;
	border-radius: 5px;
	margin: 50px;
	padding: 20px;
}

.panels {
	display: flex;
	justify-content: center;
}

.left-panel,
.right-panel {
	margin: 1.5em;
	padding: 2em;
	display: block;
	border: 1px solid black;
	border-radius: 5px;
	height: 55vh;
}

.right-panel {
	width: 80vw;
	h3 {
		margin-top: -0.5rem;
	}
	span {
		font-family: 'DM Serif Display', sans-serif;
		font-weight: bold;
	}
}

.search-title {
	font-family: 'DM Serif Display', sans-serif;
	font-size: 2em;
}
